body {
  position: relative;
  font-family: robotolight, Arial, sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  font-family: robotobold, Arial, sans-serif;
  font-size: 18px;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.container {
  width: 1200px;
  margin: 0 auto;
}
