body {
  position: relative;
  font-family: robotolight, Arial, sans-serif;
}

a {
  text-decoration: none;
}



img {
  max-width: 100%;
  height: auto;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



