.contacts {
  background: url("../img/contacts-bg.jpg") no-repeat;
  background-size: cover;
  padding-bottom: 80px;
  h2 {
    padding-top: 65px;
    text-align: center;
    margin-bottom: 61px;
  }
  p {
    text-align: center;
    font-family: robotoregular, Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 50px;
  }
}

.contacts__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  @media (min-width: 700px) {
    width: 450px;
  }
}

.contacts__wrap {
  input {
    display: block;
    margin: 0 auto;
    width: 280px;
    height: 43px;
    border-radius: 7px;
    border: 1px solid #dadada;
    font-family: robotoregular, Arial, sans-serif;
    font-style: italic;
    font-size: 12px;
    padding-left: 20px;
    color: #808080;
  }
  input:first-child {
    margin-bottom: 21px;
  }
  margin-bottom: 20px;
  @media (min-width: 700px) {
    input {
      display: inline;
      width: 193px;
      margin: 0;
    }
    input:first-child {
      margin-bottom: 0;
    }
  }
}

.contacts__name {
  margin-right: 13px;
}

.contacts__email {
  width: 280px;
  border-radius: 7px;
  border: 1px solid #dadada;
  font-family: robotoregular, Arial, sans-serif;
  font-style: italic;
  font-size: 12px;
  padding-left: 20px;
  color: #808080;
  height: 43px;
  margin-bottom: 20px;
  @media (min-width: 700px) {
    width: 428px;
  }
}

.contacts__text {
  width: 280px;
  border-radius: 7px;
  border: 1px solid #dadada;
  font-family: robotoregular, Arial, sans-serif;
  font-style: italic;
  font-size: 12px;
  padding-left: 20px;
  padding-top: 25px;
  height: 127px;
  margin-bottom: 20px;
  textarea::placeholder { color: #808080; }
  @media (min-width: 700px) {
    width: 428px;
  }
}

.contacts__submit {
  width: 302px;
  border-radius: 7px;
  background-color: #b7b7b7;
  height: 43px;
  color: white;
  border: none;
  outline: none;
  font-family: robotobold, Arial, sans-serif;
  font-size: 12px;
  @media (min-width: 700px) {
    width: 450px;
  }
}

.contacts__submit:hover {
  background-color: black;
  color: #fcff19;
}
