.slider__img-slider {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  min-height: 980px;
  background: url("../img/slide.jpg") no-repeat;
  background-size: cover;
}

.slider__left-but {
  position: absolute;
  z-index: 10;
  top: 450px;
  left: 35px;
  opacity: 0.5;
}

.slider__right-but {
  position: absolute;
  z-index: 10;
  top: 450px;
  right: 35px;
  opacity: 0.5;
}

.slider__but--active {
  opacity: 1;
}

.slider__scroll {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  width: 66px;
  margin-top: 295px;
}

.slider__line {
  width: 384px;
  height: 4px;
  background-color: #fcff19;
  position: absolute;
  z-index: 10;
  top: 978px;
  left: 384px;
}
